.card{
    color:#fff;
    font-size: large;
    font-weight: 500;
    padding: 8px;
    height: 360px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    &__header{
        height: 36px;
        border-bottom: 1px solid black;
        padding: 8px;
        display: flex;
        align-items: center;
      
        button{
            margin-left: auto;
        }
    }
    &__body{
        padding: 8px 0;
       flex: 1;
       overflow: auto;

    }

}