.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 8px;
    // grid-auto-flow: dense;
    &__item{
        transition: all 0.3s ease;      
        will-change: transform;
          
        &.expanded{
            grid-column: 1 / -1;
        }
        &.focused {
            animation: focusGlow 700ms ease;
          }
    }
}
@keyframes focusGlow {
    0% {
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }
    40% {
      box-shadow: 0 0 18px rgba(245, 86, 12, 0.5);
    }
    100% {
      box-shadow: 0 0 0 rgba(0,0,0,0);
    }
  }